/* сделаем так, чтобы мы могли задавать размеры всех элементов в разных единицах одновременно, например, высоту в пикселях, а ширину в процентах */

* {
    box-sizing: border-box;
}


/* общие настройки для страницы */

body {
    /* убираем отступы */
    margin: 0;
    padding: 0;
    /* занимаем всю ширину и высоту окна браузера */
    width: 100%;
    height: 100vh;
    /* не рисуем то, что вылетело за границы */
    overflow: hidden;
    /* цвет фона */
    background: #2d3436;
    /* располагаем элементы страницы по центру*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/* настройки области, где будет нарисована тучка */

.cloud-svg {
    /* высота и ширина области */
    width: 18rem;
    height: 18rem;
    position: fixed;
    /* центрируем по горизонтали */
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* поднимаем тучку выше остальных элементов на странице, чтобы она прятала символы, которые ещё не появились*/
    z-index: 10;
}


/* настройки для отрисовки самой тучки */

.cloud {
    /* настройки фона и контура тучки */
    fill: #2ecc71;
    stroke: #27ae60;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}


/* настройка области, где будут падающие буквы */

canvas {
    position: fixed;
    /* отступ сверху */
    top: 350px;
    /* центрируем по горизонтали*/
    left: 50%;
    transform: translate(-50%, -50%);
}